@charset "UTF-8";
/* Anna Malmquist's CSS Document.
dark purple: #990976
lavender: #995FA3
gray: #9A98B5
light gray: #d9d9d9
blue gray: #A0B9C6
sea green: #A5F8D3
body green: #37afa3
*/


html {
background-color: #A0B9C6;
}

body {
	width: 950px;
	margin: 1.4em auto;
	border: 4px solid #9A98B5;
	padding: 40px;
	background-color: #37afa3;
	font-family: 'Roboto', sans-serif;
	color: #d9d9d9;
	list-style-position: inside;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.misc{
	float: left;
	margin-right: 20px;
	margin-bottom: 15px;
}

h1 {
	text-align: center;
	color: #d9d9d9;
	padding: 7px;
	background-color: #600048;
	font-size: 30px;
}

h2 {
	color: #d9d9d9;
}

h3 {
	color: #990976;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #e4bbec;
}

a:hover {
	text-decoration: none;
	color: #A5F8D3;
}

a:active {
	color: #fff;
}

#cf {
  position:relative;
  height:150px;
  width:950px;
}

#cf img {
  position:absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}
